{% load staticfiles %}
<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>ShareImage</title>

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

  <script>
      $(function(){
          $("button").click(function(){
              $(this).parent().parent().parent().hide();
              $.ajax({
                  url: "/delete/" + $(this).attr("id"),
                  type: "GET"
              })
          });
      });
  </script>

</head>

<body>

ShareImage <br />
<br />
<a href="{% url 'upload' %}">Upload</a><br />
<br />
<div class="container">
    <div class="row">
      {% for img in images %}
        <div class="col-sm-4">
          <table class="table table-bordered table-hover">
              <tr>
                  <td>
                      <label>{{ img.name }}</label><button type="button" id="{{ img.id }}">delete</button>
                  </td>
              </tr>
              <tr>
                  <td>
                      <img src="media/{{ img.img }}" class="img-responsive" style="height: 100px;" />
                  </td>
              </tr>
          </table>
        </div>
      {% endfor %}
    </div>
</div>


</body>
</html>
